@media (max-width: 1440px) {
  .mainTitle {
    font-size: 26px;
  }

  .registrationSection-image {
    /* max-width: 47%; */
    /* content: url("../../assets/computer-1440.jpg"); */
  }
  .registrationSection-image img {
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) {
  .registrationSection {
    padding: 0 0 0 72px;
    justify-content: space-between;
    align-items: center;
  }

  .mainTitle {
    font-size: 20px;
    margin-top: 24px;
  }

  .article {
    font-size: 15px;
    margin: 18px 0 24px 0;
  }

  .openRegistrationFormButton {
    width: 261px;
    height: 56px;
    font-size: 15px;
    padding: 0 10px 0 18px;
    margin-bottom: 24px;
  }

  .openRegistrationFormButton .iconBlock {
    padding: 4px;
    width: 36px;
    height: 36px;
  }

  .registrationSection-image {
    width: 47%;
    /* content: url("../../assets/computer-768.jpg"); */
  }
}
@media (max-width: 375px) {
  .mainTitle {
    font-size: 17px;
  }

  .article {
    font-size: 13px;
    margin: 14px 0 18px 0;
  }

  .openRegistrationFormButton {
    width: 100%;
  }

  .registrationSection-image {
    max-width: 60%;
    /* content: url("../../assets/computer-375.jpg"); */
  }
}
